.container1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/*  */

#banner {
    min-height: 100vh;
    background: linear-gradient(to right, hsla(351, 78%, 73%, 0.671), rgba(252, 98, 244, 0.884));
    background-size: cover;
    padding-top: 0;
}



#banner .text {
    color: #f57070;
}

#banner img {
    width: 100%;
    filter: drop-shadow(30px 2px 15px rgba(245, 43, 178, 0.199));
    
}

#banner .ok {
    margin-top: 120px;
}

#banner .self {
    font-size: 30px;
    font-weight: 5;
    font-style: italic;
}

#banner .card {
    background: transparent;
    border: 0;
}

.btn {
    transition: all 0.4s ease;
    border-radius: 3;
}

#banner .card .btn-brand {
    color: #f75e5e;
    background: rgb(255, 140, 33);
}

#banner .card .btn-brand:hover {
    color: #f84f4f;
    background-color: rgb(245, 122, 50);
    font-weight: 800;
}

#info .btn-brand {
    color: #f85050;
    background: rgb(255, 112, 255);
}

#info .btn-brand:hover {
    color: #f85858;
    background-color: rgb(205, 52, 205);
    font-weight: 800;
}

.footer_section {
    background-color: #f75151;
    color: #c73d3d;
    text-align: center;
}

.footer_section .footer-info {
    text-align: center;
}

.footer_section .footer-info p {
    color: #c25050;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
    text-decoration: none;
}

  /*  */

#info {
    background: #e94747;
    background-size: cover;
    margin-top: 100px
}

#info img {
    width: 150px;
    align-self: center;
    margin-bottom: 20px;
    filter: drop-shadow(15px 8px 2px rgba(253, 116, 116, 0.374));
}

#game {
    min-height: 100vh;
    background: linear-gradient(to right, hsl(108, 3%, 65%), rgba(246, 248, 247, 0.884));
    padding-top: 0;
}

#game .card {
    background: rgb(252, 131, 131);
    margin-bottom: 20px;
}

#game h3 {
    color: rgb(255,255,255);
    margin-left: 20%;
}

#game h4 {
    color: rgb(255,255,255);
}

#game img {
    width: 500px;
    align-self: center;
    transition: .5s ease-out;
}

#game img:hover {
    width: 650px;
    align-self: center;
    transition: .5s;
}

/*  */

.sea-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    background: linear-gradient(to right, hsl(22, 87%, 48%), rgba(246, 248, 247, 0.884));
  }
  
  .sea-wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .sea-wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .sea-wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  .radio-waves {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    background: linear-gradient(to right, hsl(22, 91%, 55%), rgba(246, 248, 246, 0.884));
  }
  
  .radio-wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .radio-wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  .radio-wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
  }
  
  @-webkit-keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
  
    100% {
      transform: translate(-90px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @-webkit-keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }
  
  @keyframes move-forever3 {
    0% {
      transform: translate(-90px, 0%);
    }
  
    100% {
      transform: translate(85px, 0%);
    }
  }