.navbar {
  background: linear-gradient(rgb(238, 9, 142), rgb(255, 255, 255), rgb(248, 81, 206));
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    font-weight: bold;
    color: rgb(247, 16, 236);
    text-shadow: 0 0 20px #fc49b7, 0 0 40px #f82688;
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand:hover {
    color: #fff;
    filter: drop-shadow(0 0 0.75rem rgba(245, 32, 181, 0.884));
    text-shadow: 0 0 20px rgb(226, 2, 189), 0 0 40px rgba(243, 59, 234, 0.897);
    transition: all 0.4s ease;
  }
  
  .navbar .navbar-brand {
    color: rgb(248, 61, 192);
  }
  
  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    text-decoration: none;
    color: rgb(243, 126, 58);
  }
  
  .navbar .navbar-nav .nav-item .nav-link.active {
    background-color: rgb(248, 90, 79);
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
  }